//- Created by xiaoerge on 1/13/17.

link(rel="apple-touch-icon", sizes="/static/icons/apple-icon-57x57.png")
link(rel="apple-touch-icon", sizes="/static/icons/apple-icon-60x60.png")
link(rel="apple-touch-icon", sizes="72x72", href="/static/icons/apple-icon-72x72.png")
link(rel="apple-touch-icon", sizes="76x76", href="/static/icons/apple-icon-76x76.png")
link(rel="apple-touch-icon", sizes="114x114", href="/static/icons/apple-icon-114x114.png")
link(rel="apple-touch-icon", sizes="120x120", href="/static/icons/apple-icon-120x120.png")
link(rel="apple-touch-icon", sizes="144x144", href="/static/icons/apple-icon-144x144.png")
link(rel="apple-touch-icon", sizes="152x152", href="/static/icons/apple-icon-152x152.png")
link(rel="apple-touch-icon", sizes="180x180", href="/static/icons/apple-icon-180x180.png")