extends layout

block content
    div(class='text-center')

        .jumbotron
            h1 Play as a Service (PaaS)
            p Play random games like Dice, Rock Paper Scissors on social media sites.

            a.h3.btn-link(href='/diceroll') Dice Roll
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            a.h3.btn-link(href='/rockpaperscissor') Rock Paper Scissor
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        h2
            a(href='https://github.com/xiaoerge/PlayAsAService') View Source

