extends layout

block content
    div(class='text-center')
        h1 Play as a Service (PaaS) #[small By #[a(href='https://github.com/xiaoerge', target='__blank') xiaoerge]]
        h4 Play random games like Dice, Rock Paper Scissors, coin flip on social media sites.

        a(href='/diceroll', target='__blank') Dice Roll Demo

        p
            a(href='/diceroll', target='__blank') View Source

    block append script
        script(src='/static/bootstrap/dist/js/bootstrap.min.js')
