//- Created by xiaoerge on 1/13/17.

meta(name="msapplication-TileColor", content="#ffffff")
meta(name="msapplication-TileImage", content="/static/icons/ms-icon-144x144.png")
meta(name="msapplication-TileImage", content="/static/icons/ms-icon-150x150.png")
meta(name="msapplication-TileImage", content="/static/icons/ms-icon-310x310.png")